*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color: aquamarine;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: #111;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(38, 242, 174);
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 20px;
}

.a-navbar {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.container-content {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color:white;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width:720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.img-content {
    width: 200px;
    height: 200px;
}

.container-footer {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer {
    color: #000;
    font-size: 35px;
    font-weight: 800;
}